.form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}
  
.form-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}
  
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 0.5rem;

}
  
.form-group textarea {
    height: 100px;
}
  
/* NavigationBarStyles.css */

.nav-link-custom {
    font-weight: bold; /* Make font bolder */
    color: white !important; /* Color for the text */
}
  
.nav-dropdown-link {
    font-weight: bold; /* Ensuring the dropdown items are also bold */
    /* "color" does not need to be specified here unless you want to override the default dropdown link color */
}
  
.navbar-brand img {
      height: 50px; /* Control logo height */
      width: auto; /* Adjust width automatically */
      padding: 0px 0; /* This won't work directly, see the explanation below */
}
  
  /* To increase the vertical spacing for logo,
     you could adjust the navbar padding using a more general selector */
.navbar-custom {
    padding: 10px 0; /* For vertical padding without changing brand-specific styles */
}