.post {
    border: 2px solid #61dafb;
    margin: 5%;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* text-align: center; */

}

.post-text {
    padding-left: 5px;
    padding-top:1px;
}

.post-container {
    height: 300px;
}
.post-images-container {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.post-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .float-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
*/
.float-on-hover:hover, .float-on-hover:focus, .float-on-hover:active {
    transform: scale(1.02);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
} 