body {
  min-width: 700px;
}
#landing-page {
  width: 100%;
}

#header-container {
  width: 100%;
  height: 66.2px;
  background-color: #0098dc;
  display: flex;
  overflow-y: hidden;
  position: fixed;
}

#main-container {
  display: flex;
}

#categories-container {
  /* width: 20%; */
  min-width: 200px;
  box-sizing: border-box;
  justify-content: left;
  /* display: flex; */
  background-color: lightgray;
  border-right: 2px solid white;
  overflow: hidden;
  padding-left: 10px;
  padding-top: 15px;
  position: fixed;
  /* margin-top: 66.2px; */
  height: 100%;
  padding-left: 10px;
}
#price-select-container {
  border-bottom: 1px solid darkgray;
  width: 90%;
  height: 130px;
}
#category-select-container {
  width: 90%;
  margin-top: 10px;
}



/* Containers on the right side of the landing page*/

#right-side-container {
  background-color: rgb(233, 233, 233);
  margin-left: 265.4px;
}
#posts-container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  overflow-y: auto;
  width:100%;
  flex:1;
}
#pagination-container {
  /* padding-left: 1%; */
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
}

  /* Styles for small screens (up to 600px wide) */
  @media only screen and (max-width: 700px) {
    #posts-container {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media only screen and (min-width: 701px) and (max-width: 800px) {
    #posts-container {
      grid-template-columns: repeat(3, auto);
    }
  }

  /* Styles for medium screens (601px to 900px wide) */
  @media only screen and (min-width: 801px)  {
    #posts-container {
      grid-template-columns: repeat(4, auto);
    }
  }




/*                          DEFAULT REACT CSS             */

